.mainContainer {
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
}

.logo {
  width: 245px;
  height: 163px;
  background: url(/images/logo.png) no-repeat center;
  margin: auto;
}

.businessArea {
  width: 245px;
  padding: 1rem;
  border: 1px solid #dbdbdb;
  margin: auto;

  & button {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
  }
}

.reset {
  background-color: #ff386b;
  color: white;
}

.reset:hover {
  background-color: #e63262;
}

.clickMe {
  background-color: #93f4d1;
}
.clickMe:hover {
  background-color: #84d9ba;
}